* {
  box-sizing: border-box;
}

/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}


body{
	margin: 0px;
	padding: 0px;
}

/* -=================================================================*/

header{
	height: 100px;
    max-width: 1150px;
    margin: 0 auto;
}

.logo img{
	margin: 25px 0px 25px 0px;
}

.nav-logo{
	float: right;
	padding: 20px 0px 20px 20px;
	line-height: 44px;
}

.free-trial{
	color: rgb(59,164,249)!important;

}

.nav-logo a{
	color: black;
    text-decoration: none;
}

.menu-hbg{
	display: hidden;
	width: 40px;
	height: 40px;
	background: url(../images/log0o.png) no-repeat center;
}

.main-menu{
	list-style: none;
}

.main-menu li{
	display: inline-block;
	float: left;
	padding: 9px;
}

/* -=================================================================*/

.contact-div{
	background-color: rgb(0,86,166);
    height: 35px;
}

.socials-nav ol{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.socials-nav li{
	float: left;
	margin: 0px 20px 0px 0px;
}


.wrapper{
	max-width: 1150px;
	height: 50px;
	margin: 0 auto;
	line-height: 35px;
	color: white;
}

.wrapper i{
	color: white;
}

.wrapper span{
	float: right;
}

.socials-nav li a{
	display: table-cell;
	vertical-align: middle;
}

.info-nav{
	float: right
}

.info-nav span{
	padding: 0px 5px 0px 42px;
	float: left;
}

/* -=================================================================*/
.button{

	background-color: white;
    font-size: 29px;
    margin-top: 45px;
    cursor: pointer;
    border: none;
    color: rgb(76,76,76);
    padding: 37px 140px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* width: 322px; */
    border-radius: 55px;

}
/* -=================================================================*/

.discover{
	width: 100%;
	height: 700px;
	background: url(../images/jumbotron-bg.jpg) no-repeat center;

}

.discover-content{
	width: 100%;
    height: 100%;
    background-color: rgba(72,171,251,0.8);
    filter: alpha(opacity=050);
    zoom: 0.5;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;

}

.teste span{
	display: block;
	font-size: 4.4em;
	font-family: 'Roboto';
	font-weight: 700;
	color: white;
}

.form-started{
	height: 645px;
    width: 700px;
    background-color: white;
    padding: 35px;
}

.form-started h2{
	font-size: 4.7em;
    text-align: center;
    margin-bottom: 50px;
    color: rgb(32,135,219);
    font-family: 'Raleway';
    font-weight: 700;
}

.form-started p{
	text-align: center;
	margin: 55px 0px 55px 0px;
    font-size: 23px;
    color: #aaaaaa;
}

.join-div{
	width: 400px;
    margin: 0 auto;
}

.join-btn{
	padding: 27px 110px 27px 110px;
    margin: 0 auto;
    text-align: center;
    border-radius: 35px;
    border: none;
    font-size: 35px;
    background-color: white;
    color: #48abfb;
    -webkit-transition:	all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.join-btn:hover{
	background-color: #48abfb;
	color: white;
}

.form-started input{
	width: 100%;
    height: 91px;
    font-size: 27px;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid #ddd;
}

.form-started input::-webkit-input-placeholder {
color: rgb(221,221,221) !important;
}
 
.form-started input:-moz-placeholder { /* Firefox 18- */
color: rgb(221,221,221) !important;  
}
 
.form-started input::-moz-placeholder {  /* Firefox 19+ */
color: rgb(221,221,221) !important;  
}
 
.form-started input:-ms-input-placeholder {  
color: rgb(221,221,221) !important;  
}

/* -==================   Media Queries   =======================*/

@media only screen and (max-width : 640px) {

	header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;

	}

	.main-menu, .nav-logo:active .main-menu { 

		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		right: 20px;
		top: 60px;
		width: 50%;
		

	}

	.nav-logo li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	.nav-logo:hover .main-menu {

		display: block;

	}

/* -=================================================================*/	